*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tradingview-widget-container{
    height: 100vh;
    background-color: rgb(7, 7, 7);
    width: 100%;
}
.tradingview-widget-container__widget{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 7);
}
.tradingview-widget-container__widget{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 7);
}
